#Django
DEBUG=
SECRET_KEY=

#PostgreSQL

#Redis

#Celery
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
CELERY_ACCEPT_CONTENT=
CELERY_TASK_SERIALIZER=
CELERY_RESULT_SERIALIZER=
CELERY_TIMEZONE=
CELERY_WORKER_POOL=

#JWT
ACCESS_TOKEN_LIFETIME_MINUTES=
REFRESH_TOKEN_LIFETIME_DAYS=